<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>LOGIN</h3>

  <input type="email" formControlName="email" placeholder="Email" />
  <input type="password" formControlName="password" placeholder="Contraseña" />
  <button class="gold">LOGIN</button>
  <button class="dark" routerLink="/auth/register">REGISTRARME</button>
  <p
    class="error"
    *ngIf="this.loginForm.errors?.invalidCredentials && this.loginForm.touched"
  >
    Por favor introduce un usuario y contraseña validos
  </p>
</form>
